.margin-top{
    margin-top: 15px;
}

#total{
    color: #007bff;
    font-weight: bold;
}

.font-size{
    font-size: 13px !important;
}
.total{
    font-size: 1rem;
    font-weight: bold;
}

.badge.badge-pill{
    font-size: 100%;
}